# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log

# Virtual environment
venv/
env/

# Environment files
.env

# IDE / OS files
.vscode/
.idea/
.DS_Store

# React build (if using React frontend)
node_modules/
dist/
build/
